name: backend-ci-workflow

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]
  workflow_dispatch:
    
permissions:
  contents: write
  id-token: write
  
jobs:

  push-changes:
    runs-on: ubuntu-latest
    steps:
       - name: Checkout
         uses: actions/checkout@v4
       - name: Get Commit SHA
         id: get-sha
         run: echo "git last commit hash tage:sha=${GITHUB_SHA}" >> $GITHUB_OUTPUT

  setup-env:
    runs-on: ubuntu-latest
    needs: push-changes
    steps:
      - uses: actions/checkout@v4

      #java setting
      - name: Setup JAVA
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      # grable 권한 설정
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      
      - name: Environment variables
        run: |
          echo "APP_ENV=dev" >> $GITHUB_ENV
          echo "COMMIT_SHA=${{ needs.push-handler.outputs.sha }}" >> $GITHUB_ENV

  code-test:
    runs-on: ubuntu-latest
    needs: setup-env
    steps:
      - uses: actions/checkout@v4
      - name: Test start
        run: 
          echo "code test start!"
      - name: Test end
        run: 
          echo "code test end!"
      
  docker-build-and-push:
    runs-on: ubuntu-latest
    needs: code-test
    outputs:
      image_tag: ${{ steps.meta.outputs.image_tag }}
  
    steps:
      - uses: actions/checkout@v4
  
      - name: Generate docker image tag
        id: meta
        run: |
          IMAGE_TAG="${GITHUB_SHA}"
          echo "image_tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT
          echo "Generated docker image tag: ${IMAGE_TAG}"

        #깃허브 패키지 레지스터리 접근
      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

          
      - name: Build & Push Image
        run: |
          OWNER="${GITHUB_REPOSITORY_OWNER,,}"   # lowercase 변환
          docker build -t ghcr.io/${OWNER}/backend:${{ steps.meta.outputs.image_tag }} .
          #ghcr.io: GitHub Container Registry의 엔드포인트, github.repository_owner: 조직 이름(openwallet22025), 
          # backend <- 직접 지정, steps.meta.outputs.image_tag: <generate docker image tag>에서 export한 commit 해쉬값(sha)
          
          docker push ghcr.io/${OWNER}/backend:${{ steps.meta.outputs.image_tag }}
      
  update-manifest-repo:
    runs-on: ubuntu-latest
    needs: docker-build-and-push
  
    steps:
      - name: Determine branch
        id: branch
        run: echo "Current branch:${GITHUB_REF_NAME}\nCode will be pushed same name branch in manfest repo" >> $GITHUB_OUTPUT
  
      - name: Checkout Manifests Repo (same branch)
        uses: actions/checkout@v4
        with:
          repository: <ORG>/<MANIFEST_REPO>
          token: ${{ secrets.MANIFEST_REPO_TOKEN }}
          ref: ${{ steps.branch.outputs.branch }} # push한 브랜치와 동일한 이름의 브랜치로 checkout
  
      - name: Update Image Tag
        run: |
          sed -i "/repository:\s*ghcr.io\/${{ github.repository_owner }}\/backend/{n;s|tag:.*|tag: \"${TAG}\"|}" values.yaml  # s|찾을 텍스트|바꿀 텍스트
  
      - name: Commit & Push
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add .
          git commit -m "Update image to ${{ needs.docker-build-and-push.outputs.image_tag }}" || echo "No changes to commit"
          git push origin ${{ steps.branch.outputs.branch }}
          echo "workflows end up\n Commit: Update image to ${{ needs.docker-build-and-push.outputs.image_tag }} \n actor:${{ github.actor }} ."
