name: backend-ci-workflow

on:
  push:
    branches: [develop]
    paths-ignore:
      - '.github/workflows/**'
  workflow_dispatch:
    
permissions:
  contents: write
  id-token: write
  packages: write
  
jobs:
  setup-env:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      #java setting
      - name: Setup JAVA
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      # grable 권한 설정
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      
      - name: Environment variables
        run: |
          echo "APP_ENV=dev" >> $GITHUB_ENV
      
  docker-build-and-push:
    runs-on: ubuntu-latest
    needs: setup-env
    steps:
      - uses: actions/checkout@v4
  
        #깃허브 패키지 레지스터리 접근
      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    
          
      - name: Build & Push Image
        run: |
          OWNER="${GITHUB_REPOSITORY_OWNER,,}"   # lowercase 변환
          docker build -t ghcr.io/${OWNER}/backend:${GITHUB_SHA} .
          #ghcr.io: GitHub Container Registry의 엔드포인트, github.repository_owner: 조직 이름(openwallet22025), 
          # backend <- 직접 지정, steps.meta.outputs.image_tag: <generate docker image tag>에서 export한 commit 해쉬값(sha)
          
          docker push ghcr.io/${OWNER}/backend:${GITHUB_SHA}
          echo "Build and push Docker image: ghcr.io/${OWNER}/backend:${GITHUB_SHA}"

    outputs:
      image_tag: ${{ steps.meta.outputs.image_tag }}
          
  update-manifest-repo:
    runs-on: ubuntu-latest
    needs: docker-build-and-push
      
    steps:
      - name: Determine branch
        id: branch
        run: echo "branch=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
    
      - name: Checkout Manifests Repo (same branch)
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/OpenWallet-manifests
          token: ${{ secrets.MANIFEST_ACCESS }}
          ref: ${{ steps.branch.outputs.branch }} # push한 브랜치와 동일한 이름의 브랜치로 checkout
    
      - name: Update Image Tag
        uses: mikefarah/yq@master
        with:
          # 변경할 명령어: backend.image.tag 값을 현재 커밋 해시($GITHUB_SHA)로 변경
          cmd: yq -i '.backend.image.tag = strenv(GITHUB_SHA)' apps/backend/values.yaml
        env:
          GITHUB_SHA: ${{ github.sha }}
    
      - name: Commit & Push
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add .
          git commit -m "Update image to ${{ needs.docker-build-and-push.outputs.image_tag }}" || echo "No changes to commit"
          git push origin ${{ steps.branch.outputs.branch }}
          echo "workflows end up\n Commit And Push: Update new image and tag: ${{ needs.docker-build-and-push.outputs.image_tag }} \n actor:${{ github.actor }} ."

